/* Estilos para el formulario */
h2 {
    margin-bottom: 20px;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  
  button {
    display: block;
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }


  /* Estilos para el formulario */
.formulario-container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin:  auto;
  }

  .formulario-container {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
 background-color: #fff;
  }
  
  .input-column {
    flex: 1;
    padding: 0 20px;

  }
  
  .input-column:last-child {
    border-right: none;
  }
  
  h2 {
    text-align: center;
  }

  /* Estilos para los inputs */
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007bff;
  }
  
  /* Estilos para los mensajes de error */
  .error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
  }


  /* Estilos para el botón Enviar */

 

  .cancel-button {
    right: 44%; 
    top: 380px;
    position: absolute; 
    background-color: #FFDD00; 
    border: none;
    color: rgb(8, 17, 141);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
  }



.submit-button {
    right: 50%; 
    top: 380px;
    position: absolute; 
    background-color: #FFDD00; 
    border: none;
    color: rgb(8, 17, 141);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    
    background-color: #ccc;
    cursor: not-allowed;
  }

  input[readonly] {
    background-color: #f0f0f0; /* Cambia el color de fondo */
    cursor: not-allowed; /* Cambia el cursor */
    border-color: #ddd; /* Cambia el color del borde */
  }